/* CSS CODES FOR: Stretch Activity - Second Toggle Button (bottom right, round button) */

.scroll-up {
  text-align: right;
}

.scroll-comp {
  background-color: #4056A1;
  border: none;
  font-size: 30px;
  padding: 20px 30px 20px 30px;
  margin: 10px;
  border-radius: 100%;
  position: fixed;
  bottom: 0;
  right: 10px;
}

.scroll-comp:hover {
  box-shadow: none;
  cursor: pointer;
}

.scroll-comp i {
  color: #FFFFFF;
}