header {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #334354;
  background-image: url("https://www.transparenttextures.com/patterns/old-husks.png");
}

