section > form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: medium;
  font-weight: bold;
  text-align: left;
}

form > div {
  display: flex;
  justify-content: space-between;
}