section {
  margin-bottom: 80px;
}

/* To fix styling bug of Compose Tweet moving up after error msg appears: 

h2 {
  margin-top: 0px;
  padding-top: 10px;
} */

.error-msg {
  display: none;
}

.error-msg p {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 5px solid #FF0000;
  padding: 10px;
  color: #FF0000;
  font-weight: bold;
}

section > form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: large;
  font-weight: bold;
  text-align: left;
}

form > div {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: solid 5px;
}

textarea {
  resize: none;
  font-size: large;
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  font-family: "Bungee", cursive, sans-serif;
  font-size: large;
  background-color: #4056A1;
  color: #FFFFFF;
  border: 0;
}

button:hover {
  box-shadow: 0 0 5px #6499e2;
}

output {
  font-family: "Bungee", cursive, sans-serif;
}

.red {
  color: #FF0000;
}