section > form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: medium;
  font-weight: bold;
  text-align: left;
}

form > div {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: solid 5px;
}

textarea {
  resize: none;
  font-size: medium;
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  font-family: "Bungee", cursive, sans-serif;
  font-size: medium;
  background-color: #4056A1;
  color: #FFFFFF;
  border: 0;
}

output {
  font-family: "Bungee", cursive, sans-serif;
}

.red {
  color: #FF0000;
}